<!DOCTYPE html>
<html lang="en">
	<head>
		<title></title>
		<meta charset="utf-8">
		<link rel="stylesheet" href="css/reset.css" type="text/css" media="all">
		<link rel="stylesheet" href="css/layout.css" type="text/css" media="all">
		<link rel="stylesheet" href="css/style.css" type="text/css" media="all">
		<script type="text/javascript" src="js/jquery-1.6.js" ></script>
		<script type="text/javascript" src="js/cufon-yui.js"></script>
		<script type="text/javascript" src="js/cufon-replace.js"></script>  
		<script type="text/javascript" src="js/Vegur_300.font.js"></script>
		<script type="text/javascript" src="js/PT_Sans_700.font.js"></script>
		<script type="text/javascript" src="js/PT_Sans_400.font.js"></script>
		<script type="text/javascript" src="js/atooltip.jquery.js"></script>
		<!--[if lt IE 9]>
			<script type="text/javascript" src="js/html5.js"></script>
			<link rel="stylesheet" href="css/ie.css" type="text/css" media="all">
		<![endif]-->
		<!--[if lt IE 7]>
			<div style=' clear: both; text-align:center; position: relative;'>
				<a href="http://windows.microsoft.com/en-US/internet-explorer/products/ie/home?ocid=ie6_countdown_bannercode"><img src="http://storage.ie6countdown.com/assets/100/images/banners/warning_bar_0000_us.jpg" border="0" height="42" width="820" alt="You are using an outdated browser. For a faster, safer browsing experience, upgrade for free today." /></a>
			</div>
		<![endif]-->
	</head>
	<body id="page2">
		<div class="main">
<!--header -->
			<header>
				<div class="wrapper">
					<h1><a href="index.html" id="logo">Superior.com</a></h1>
					<form id="search" method="post">
						<fieldset>
							<div class="bg"><input class="input" type="text" value="Search"  onblur="if(this.value=='') this.value='Search'" onFocus="if(this.value =='Search' ) this.value=''" ></div>
						</fieldset>
					</form>
				</div>
				<nav>
					<ul id="menu">
					
						<li><a href="index.html"><span>Inicio</span></a></li>
						<li class="active"><a href="Company.html"><span>Compañia</span></a></li>
						<li><a href="Solutions.html"><span>Mercado</span></a></li>
						<li><a href="Services.html"><span>Servicios</span></a></li>
						<li class="last"><a href="Contacts.html"><span>Registro</span></a></li>
					</ul>
				</nav>
			</header>
<!--header end-->
<!--content -->
			<article id="content"><div class="ic">More Website Templates @ TemplateMonster.com - November 14, 2011!</div>
				<div class="wrapper">
					<div class="col2 marg_right1">
						<h2>La Empresa</h2>
						<div class="wrapper">
							<figure class="left marg_right1"><img src="images/page2_img1.jpg" alt=""></figure>
							<p class="color2 pad_bot1">¿Cómo surgió el problema?</p>
							<p>El problema se enconto al momento de conseguir un repuesto para un vehículo automotor ya que la gran cantidad de almacenes se encuentran especializados para algunas marcas y muchas veces no se encuentra el repuesto requerido.</p>
						</div>
						<p class="color2 pad_bot1">La solución</p>
						<p>Se crea una aplicación la cual cargue los datos como: ubicación del repuesto o del taller donde se hace el mantenimiento, nombre, productos y precios, por parte de los vendedores.</p>

						<p>Por el lado de los compradores se cargar, el perfil del usuario el cual registra su vehículo y así tiene de primera mano la información que se adecúa a la marca modelo y tipo de vehículo.</p>
						
					</div>
					<div class="col1">
						<h2>¡Pasos!</h2>
						<div class="wrapper">
							<span class="dropcap_1">1</span>
							<p class="pad_bot1"><span class="color1">Regístrate</span><br>
									Ve a la pestaña “registro”, enseguida diligencia el formulario.</p>
						</div>
						<div class="wrapper">
							<span class="dropcap_1">2</span>
							<p class="pad_bot1"><span class="color1">Publicar</span><br>
									Poder ir a la opción de servicios y escoger la opción “Publicar nuevo”.</p>
						</div>
						<div class="wrapper">
							<span class="dropcap_1">3</span>
							<p class="pad_bot1"><span class="color1">Comprar</span><br>
									Para comprar simplemente dirígete a la pestaña “Mercado” y hay estarán las múltiples opciones.</p>
						</div>
						<div class="wrapper">
							<span class="dropcap_1">4</span>
							<p class="pad_bot1"><span class="color1">Salir</span><br>
									No olvides cerrar tu cuenta.</p>
						</div>
					</div>
				</div>
			</article>
		</div>
		
		<div class="main">
<!--content end-->
<!--footer -->
			<footer>
				<ul id="icons">
					<li class="first">Entre a:</li>
					<li><a href="https://www.facebook.com/" class="normaltip" title="Facebook"><img src="images/icon1.jpg" alt=""></a></li>
					<li><a href="https://twitter.com/" class="normaltip" title="Twitter"><img src="images/icon2.jpg" alt=""></a></li>
					<li><a href="https://www.youtube.com/" class="normaltip" title="YouTube"><img src="images/icon4.jpg" alt=""></a></li>
				</ul>
				RepuestosOnline.com &copy; 2014
				<!-- {%FOOTER_LINK} -->
			</footer>
<!--footer end-->
		</div>
		<script type="text/javascript"> Cufon.now(); </script>
	</body>
</html>