<!DOCTYPE html>
<html lang="en">
	<head>
		<title></title>
		<meta charset="utf-8">
		<link rel="stylesheet" href="css/reset.css" type="text/css" media="all">
		<link rel="stylesheet" href="css/layout.css" type="text/css" media="all">
		<link rel="stylesheet" href="css/style.css" type="text/css" media="all">
		<script type="text/javascript" src="js/jquery-1.6.js" ></script>
		<script type="text/javascript" src="js/cufon-yui.js"></script>
		<script type="text/javascript" src="js/cufon-replace.js"></script>  
		<script type="text/javascript" src="js/Vegur_300.font.js"></script>
		<script type="text/javascript" src="js/PT_Sans_700.font.js"></script>
		<script type="text/javascript" src="js/PT_Sans_400.font.js"></script>
		<script type="text/javascript" src="js/atooltip.jquery.js"></script>
		<script type="text/javascript" src="js/jquery.leanModal.min.js"></script>
		
	</head>
	<body id="page5">
		<div class="main">
<!--header -->
			<header>
				<div class="wrapper">
					<h1><a href="index.html" id="logo">Superior.com</a></h1>
					<form id="search" method="post">
						<fieldset>
							<div class="bg"><input class="input" type="text" value="Search"  onblur="if(this.value=='') this.value='Search'" onFocus="if(this.value =='Search' ) this.value=''" ></div>
						</fieldset>
					</form>
				</div>
				<nav>

					<ul id="menu">
						<li><a href="index.html"><span>Inicio</span></a></li>
						<li><a href="Company.html"><span>Compañia</span></a></li>
						<li><a href="Solutions.html"><span>Mercado</span></a></li>
						<li><a href="Services.html"><span>Servicios</span></a></li>
						<li class="last active"><a href="Contacts.html"><span>Registro</span></a></li>
					</ul>
				</nav>
			</header>
<!--header end-->
<!--content -->
			<article id="content"><div class="ic">More Website Templates @ TemplateMonster.com - November 14, 2011!</div>
				<div class="wrapper">
					<h2>Formulario de inscripción</h2>
					<form id="ContactForm" method="post">
						<div>
							<div  class="wrapper">
								<span>Nombre:</span>
								<div class="bg"><input type="text" class="input" required></div>
							</div>
							<div  class="wrapper">
								<span>Apellido:</span>
								<div class="bg"><input type="text" class="input" required></div>								
							</div>
							<div  class="wrapper">
								<span>Email:</span>
								<div class="bg"><input type="email" class="input" required/></div>								
							</div>
							<div  class="wrapper">
								<span>Contraseña:</span>
								<div class="bg"><input type="password" class="input" required></div>								
							</div>
							<div  class="textarea_box">
								<span>Comentarios:</span>
								<div class="bg"><textarea name="textarea" cols="1" rows="1"></textarea></div>								
							</div>
							<input type="submit" class="button1" value="Guardar">
							<!--<a href="#" type="submit" class="button1" onClick="document.getElementById('ContactForm').submit()">Enviar</a>-->
							<a href="#" class="button1" onClick="document.getElementById('ContactForm').reset()">Cancelar </a>
							
							
							
							
	
  
  
	<div id="loginmodal" style="display:none;">
    
    <form id="loginform" name="loginform" method="post" action="index.html">
      <label for="username">Usuario:</label>
      <input type="text" name="username" id="username" class="txtfield" tabindex="1">
      
      <label for="password">Contraseña:</label>
      <input type="password" name="password" id="password" class="txtfield" tabindex="2">
      
      <div class="center"><input type="submit" name="loginbtn" id="loginbtn" class="button1" value="Log In" tabindex="3"></div>
    </form>
  </div>
 

 </div>
												
	
					</form>
				</div>
			</article>
		</div>
		<div class="bg1">
			<div class="main">
				
			</div>
		</div>
		<div class="main">
<!--content end-->
<!--footer -->
			<footer>
				<ul id="icons">
					<li class="first">Entre a:</li>
					<li><a href="https://www.facebook.com/" class="normaltip" title="Facebook"><img src="images/icon1.jpg" alt=""></a></li>
					<li><a href="https://twitter.com/" class="normaltip" title="Twitter"><img src="images/icon2.jpg" alt=""></a></li>
					<li><a href="https://www.youtube.com/" class="normaltip" title="YouTube"><img src="images/icon4.jpg" alt=""></a></li>
				</ul>
				RepuestosOnline.com &copy; 2014
				<!-- {%FOOTER_LINK} -->
			</footer>
<!--footer end-->
		</div>
		<script type="text/javascript"> Cufon.now(); </script>
	</body>
</html>