<!DOCTYPE html>
<html lang="en">
	<head>
	<!-- -->
		<title></title>
		<meta charset="utf-8">
		<link rel="stylesheet" href="css/reset.css" type="text/css" media="all">
		<link rel="stylesheet" href="css/layout.css" type="text/css" media="all">
		<link rel="stylesheet" href="css/style.css" type="text/css" media="all">
		<script type="text/javascript" src="js/jquery-1.6.js" ></script>
		<script type="text/javascript" src="js/cufon-yui.js"></script>
		<script type="text/javascript" src="js/cufon-replace.js"></script>  
		<script type="text/javascript" src="js/Vegur_300.font.js"></script>
		<script type="text/javascript" src="js/PT_Sans_700.font.js"></script>
		<script type="text/javascript" src="js/PT_Sans_400.font.js"></script>
		<script type="text/javascript" src="js/tms-0.3.js"></script>
		<script type="text/javascript" src="js/tms_presets.js"></script>
		<script type="text/javascript" src="js/jquery.easing.1.3.js"></script>
		<script type="text/javascript" src="js/atooltip.jquery.js"></script>
		<script type="text/javascript" src="js/jquery.leanModal.min.js"></script>


	</head>
	<body id="page1">
		<div class="main">
<!--header -->
			<header>
				<div class="wrapper">
					<h1><a href="index.html" id="logo">RepuestosOnline.com</a></h1>
					<form id="search" method="post">
						<fieldset>
							<div class="bg"><input class="input" type="text" value="Search"  onblur="if(this.value=='') this.value='Search'" onFocus="if(this.value =='Search' ) this.value=''" ></div>
						</fieldset>
					</form>
				</div>
				<nav>
					<ul id="menu">
						<li class="active"><a href="index.html"><span>Inicio</span></a></li>
						<li><a href="Company.html"><span>Compañia</span></a></li>
						<li><a href="Solutions.html"><span>Mercado</span></a></li>
						<li><a href="Services.html"><span>Servicios</span></a></li>
						<li class="last"><a href="Contacts.html"><span>Registro</span></a></li>
					</ul>
				</nav>
				<div id="slider">
					<ul class="items">
						<li>
							<img src="images/img1.jpg" alt="">
							<div class="banner">
								<span class="title"><span class="color3">Accesorios </span><span class="color1">Accessories </span></span>
								<p>Accesorios para su vehículo. </p>
								
							</div>
						</li>
						<li>
							<img src="images/img2.jpg" alt="">
							<div class="banner">
								<span class="title"><span class="color3">Repuestos</span><span class="color1">Parts </span></span>
								<p>Todo tipo de repuestos para su vehículo.</p>
								
							</div>
						</li>
						<li>
							<img src="images/img3.jpg" alt="">
							<div class="banner">
								<span class="title"><span class="color3">Multimarcas</span><span class="color1">Several Brands</span></span>
								<p>Se ofrece toda clase de repuesto para vehículos automotores.</p>
								
							</div>
						</li>
					</ul>
				</div>
			</header>
<!--header end-->
			<div id="loginmodal" style="display:none;">
    
			<form id="loginform" name="loginform" method="post" action="index.html">
			  <label for="username">Usuario:</label>
			  <input type="text" name="username" id="username" class="txtfield" tabindex="1">
			  
			  <label for="password">Contraseña:</label>
			  <input type="password" name="password" id="password" class="txtfield" tabindex="2">
			  
			  <div class="center"><input type="submit" name="loginbtn" id="loginbtn" class="button1" value="Log In" tabindex="3"></div>
			</form>
			</div>
			<div id="w">
				<div id="content">
					<center><a href="#loginmodal" class="button1" id="modaltrigger">Login</a></center>
				</div>
	       </div>
<!--footer -->
			<footer>
				<ul id="icons">
					<li class="first">Entre a:</li>
					<li><a href="https://www.facebook.com/" class="normaltip" title="Facebook"><img src="images/icon1.jpg" alt=""></a></li>
					<li><a href="https://twitter.com/" class="normaltip" title="Twitter"><img src="images/icon2.jpg" alt=""></a></li>
					<li><a href="https://www.youtube.com/" class="normaltip" title="YouTube"><img src="images/icon4.jpg" alt=""></a></li>
				</ul>
				RepuestosOnline.com &copy; 2014
				<!-- {%FOOTER_LINK} -->
			</footer>
<!--footer end-->
		</div>
		<script type="text/javascript"> Cufon.now(); </script>
		<script>
			$(window).load(function(){
				$('#slider')._TMS({
					banners:true,
					waitBannerAnimation:false,
					preset:'diagonalFade',
					easing:'easeOutQuad',
					pagination:true,
					duration:400,
					slideshow:8000,
					bannerShow:function(banner){
						banner.css({marginRight:-500}).stop().animate({marginRight:0}, 600)
					},
					bannerHide:function(banner){
						banner.stop().animate({marginRight:-500}, 600)
					}
					})
			});
		</script>
		<script type="text/javascript">
			$(function(){
			  $('#loginform').submit(function(e){
				return false;
			  });
			  
			  $('#modaltrigger').leanModal({ top: 110, overlay: 0.45, closeButton: ".hidemodal" });
			});
		</script>
		<script type="text/javascript"> Cufon.now(); </script>
		<script type="text/javascript">
			$("#loginbtn").on("click", function(){
				$("#loginmodal").css("display:none;");
			});
		</script
	</body>
</html>