<!DOCTYPE html>
<html lang="en">
	<head>
		<title></title>
		<meta charset="utf-8">
		<link rel="stylesheet" href="css/reset.css" type="text/css" media="all">
		<link rel="stylesheet" href="css/layout.css" type="text/css" media="all">
		<link rel="stylesheet" href="css/style.css" type="text/css" media="all">
		<script type="text/javascript" src="js/jquery-1.6.js" ></script>
		<script type="text/javascript" src="js/cufon-yui.js"></script>
		<script type="text/javascript" src="js/cufon-replace.js"></script>  
		<script type="text/javascript" src="js/Vegur_300.font.js"></script>
		<script type="text/javascript" src="js/PT_Sans_700.font.js"></script>
		<script type="text/javascript" src="js/PT_Sans_400.font.js"></script>
		<script type="text/javascript" src="js/atooltip.jquery.js"></script>
		<!--[if lt IE 9]>
		<script type="text/javascript" src="js/html5.js"></script>
		<link rel="stylesheet" href="css/ie.css" type="text/css" media="all">
		<![endif]-->
		<!--[if lt IE 7]>
			<div style=' clear: both; text-align:center; position: relative;'>
				<a href="http://windows.microsoft.com/en-US/internet-explorer/products/ie/home?ocid=ie6_countdown_bannercode"><img src="http://storage.ie6countdown.com/assets/100/images/banners/warning_bar_0000_us.jpg" border="0" height="42" width="820" alt="You are using an outdated browser. For a faster, safer browsing experience, upgrade for free today." /></a>
			</div>
		<![endif]-->
	</head>
	<body id="page4">
		<div class="main">
<!--header -->
			<header>
				<div class="wrapper">
					<h1><a href="index.html" id="logo">Superior.com</a></h1>
					<form id="search" method="post">
						<fieldset>
							<div class="bg"><input class="input" type="text" value="Search" onblur="if(this.value=='') this.value='Search'" onFocus="if(this.value =='Search' ) this.value=''" ></div>
						</fieldset>
					</form>
				</div>
				<nav>
					<ul id="menu">
						<li><a href="index.html"><span>Inicio</span></a></li>
						<li><a href="Company.html"><span>Compañia</span></a></li>
						<li><a href="Solutions.html"><span>Mercado</span></a></li>
						<li class="active"><a href="Services.html"><span>Servicios</span></a></li>
						<li class="last"><a href="Contacts.html"><span>Registro</span></a></li>
					</ul>
				</nav>
			</header>
<!--header end-->
<!--content -->
			<article id="content"><div class="ic"></div>
				<div class="wrapper">
					<h2>Services Overview</h2>
					<div class="col1 marg_right1">
						<div class="wrapper">
							<figure class="left marg_right2"><img src="images/page4_img1.jpg" alt=""></figure>
							<p><span class="color1">Ver Marcas</span><br>
								ver marcas de mas paices</p>
						</div>
						<div class="wrapper">
							<figure class="left marg_right2"><img src="images/page4_img2.jpg" alt=""></figure>
							<p><span class="color1">Editar Publicaciones</span><br>
									Edita publicaciones ya creadas </p>
						</div>
					</div>
					<div class="col1 marg_right1">
						<div class="wrapper">
							<figure class="left marg_right2"><img src="images/page4_img3.jpg" alt=""></figure>
							<p><span class="color1">Escribir sugerencias </span><br>
								Envíanos sugerencias para seguir mejorando</p>
						</div>
						<div class="wrapper">
							<figure class="left marg_right2"><img src="images/page4_img4.jpg" alt=""></figure>
							<p><span class="color1">Ver publicaciones</span><br>
									Mira todas tus publicaciones en el sitio</p>
						</div>
					</div>
					<div class="col1">
						<div class="wrapper">
							<figure class="left marg_right2"><img src="images/page4_img5.jpg" alt=""></figure>
							<p><span class="color1">Configuración de cuenta</span><br>
								Cambia tus configuraciones personales del sitio web </p>
						</div>
						<div class="wrapper">
							<figure class="left marg_right2"><img src="images/page4_img6.jpg" alt=""></figure>
							<p><span class="color1">Publicar nuevo</span><br>
									Publica tus nuevos objetos para que las personas puedan verlo </p>
						</div>
					</div>
				</div>
			</article>
			
		</div>
		
		<div class="main">
<!--content end-->
<!--footer -->
			<footer>
				<ul id="icons">
					<li class="first">Entre a:</li>
					<li><a href="https://www.facebook.com/" class="normaltip" title="Facebook"><img src="images/icon1.jpg" alt=""></a></li>
					<li><a href="https://twitter.com/" class="normaltip" title="Twitter"><img src="images/icon2.jpg" alt=""></a></li>
					<li><a href="https://www.youtube.com/" class="normaltip" title="YouTube"><img src="images/icon4.jpg" alt=""></a></li>
				</ul>
				RepuestosOnline.com &copy; 2014
				<!-- {%FOOTER_LINK} -->
			</footer>
<!--footer end-->
		</div>
		<script type="text/javascript"> Cufon.now(); </script>
	</body>
</html>